
     h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
 }
  p  {
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
 }
 body {
  color: lawngreen; background-color: 000;
 }
  .define-tamanho1 {    font-size: 22px;
  }
 .define-tamanho2 {  font-size: 25px;
   }  .define-tamanho3 {   font-size: 20px;
 }
  .define-tamanho4 {
    font-size: 30px;
 }
 H2 {
 font-size: 2em;
  }

.image {
    float: left;
    padding-top: 10px; 
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: white;
    
}

