
 h1 {
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 text-align: center;
 }
 
 
 body {
  color: lawngreen;
   background-color: 000;

}
 ul {
  color: #551A8B;
  padding-left: 20px;
  text-align: justify;
 }
 
 H2 {
 font-size: 1,5em;
 color:lawngreen;

 
  }
.imagemEdescription {
  position:relative;
  text-align: center;
  margin-top: 0px;
  background-color: 551A8B;
  padding-top: 50px;

}

footer { 
  background-color:#551A8B;
  color: lawngreen;
  display: block;
  width: 1366px;
}



.foot {
 background-color:  #551A8B;
  margin-top:300px;
}

.image {
  border-radius: 50%;
  position: relative;
}

.box {
  color:#551A8B;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
  height: 100px;
  width: 400px;
  padding: 100px;
  border: 100px;
}
 .boxdois {
  color:#551A8B;
  display: block;
  line-height: 50px;
  text-align: center;
  margin-left: 400px;
  height: 100px;
  width: 400px;
  padding: 100px;
  border: 100px;
background-color:#551A8B ;
 }
    
    


